# 1. CARREGANDO ARQUIVOS

# 1.a Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1.b Importando arquivos

In [6]:
df1= pd.read_csv("./listings_cleaned.csv", sep=",", header=0)

In [7]:
df2= pd.read_csv("./reviews.csv", sep=",", header=0)

# 2. EXPLORANDO O DATAFRAME

In [8]:
df1.head(8)

,id,neighbourhood_cleansed,room_type,accommodates,bathrooms,bedrooms,beds,price
0,271975,Vidigal,Entire home/apt,4,1.0,2.0,2.0,236.0
1,272335,Copacabana,Entire home/apt,4,1.0,1.0,1.0,723.0
2,272631,Copacabana,Private room,2,1.0,1.0,2.0,1146.0
3,273261,Leblon,Entire home/apt,6,3.5,3.0,3.0,6742.0
4,273363,Santa Teresa,Private room,1,1.0,1.0,1.0,61.0
5,273463,Lagoa,Entire home/apt,6,2.0,2.0,6.0,1411.0
6,273496,Leblon,Entire home/apt,6,2.5,2.0,5.0,703.0
7,273753,Santa Teresa,Private room,1,1.0,1.0,1.0,59.0

In [9]:
df2.head(8)

       id  number_of_reviews  review_scores_rating
0  272335                367                  4.92
1  272631                 32                  5.00
2  273363                  5                  5.00
3  273463                654                  4.83
4  273496                 60                  4.80
5  273753                  4                  4.50
6  274116                 48                  4.92
7  278679                 59                  4.85